// USER VARIABLES SECTION

$accent: orange // Accent Color
$fontsize: 16px // Body Font Size
$textcolor: #0B1739 // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$pt: "PT", sans-serif //

// Bootstrap compatible gutter variable => $gutter
// $grid-gutter-width: 20px
// $gutter: $grid-gutter-width

// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		font-display: swap // Uncomment to initially display system fonts
		src: url($furl + ".eot")
		src: url($furl + ".woff") format('woff'), url($furl + ".woff2") format('woff2'), url($furl + ".ttf") format('truetype')

@include font('PT', normal, 400, '../fonts/PTRegular/PTRegular')
@include font('PT', normal, 500, '../fonts/PTMedium/PTMedium')
@include font('PT', normal, 700, '../fonts/PTBold/PTBold')

// GENERAL DOCUMENT STYLES

*, *::before, *::after
	box-sizing: inherit
	padding: 0
	margin: 0

html
	box-sizing: border-box

h1,
h2,
h3,
h4,
h5,
h6
	font-weight: normal

ul
	list-style: none

img,
video
	height: auto
	max-width: 100%

iframe
	border: 0

table
	border-collapse: collapse
	border-spacing: 0

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $pt
	font-size: $fontsize
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	color: $textcolor
