@import config

// CUSTOM USER STYLES & IMPORTS

.totop
  position: fixed
  display: block
  width: 40px
  height: 40px
  right: 40px
  bottom: 40px
  background-image: url('../img/totop.svg')
  background-size: cover
  cursor: pointer
  visibility: hidden
  opacity: 0
  transition: all 0.3s ease-in-out
  z-index: 999
  &.show
    visibility: visible
    opacity: 1

.wrapper
  position: relative
  display: flex
  justify-content: space-between
  max-width: 1440px
  padding: 96px 80px
  margin: 0 auto
  .content
    width: 62.5%
    .h1
      margin-bottom: 48px
      font-size: 3.375em
      font-weight: bold
      line-height: 1.018
    &__list
      &-elem
        display: flex
        width: 100%
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1)
        .item
          &.plan, &.floor, &.square
            width: 10%
          &.name
            flex: 1
            padding-left: 20px
          &.price
            width: 15%
      &-head
        position: relative
        padding-bottom: 16px
        .item
          position: relative
          display: inline-block
          font-size: 0.875em
          line-height: 1.42
          user-select: none
          &.square
            sup
              font-size: 0.60em
          &[data-sort]
            cursor: pointer
            &::before, &::after
              position: absolute
              display: block
              content: ''
              width: 8px
              height: 4px
              left: 39px
              background-image: url('../img/unactive.svg')
              background-size: cover
            &::before
              top: 3px
            &::after
              top: 10px
              transform: rotate(-180deg)
            &:hover
              &:before
                top: 2px
              &::after
                top: 11px
            &[data-active="true"]
              color: #3eb57c
              &[data-orderby="desc"]
                &::before
                  background-image: url('../img/active.svg')
              &[data-orderby="asc"]
                &::after
                  background-image: url('../img/active.svg')
          &.price
            &::before, &::after
              left: 56px

      &-flat
        position: relative
        padding: 16px 0 24px
        .item
          &.name
            font-weight: 500

    &__add-more
      display: inline-block
      margin-top: 45px
      padding: 8px 24px
      border: 1px solid rgba(11, 23, 57, 0.2)
      border-radius: 25px
      cursor: pointer
      transition: all 0.15s ease
      &:hover
        box-shadow: 0px 6px 20px rgba(11, 23, 57, 0.2)
      &[data-show="off"]
        display: none
  .filter
    position: relative
    width: 31.25%
    height: 100%
    padding: 40px
    border-radius: 10px
    background: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%)
    .rooms
      display: flex
      &-item
        display: flex
        justify-content: center
        align-items: center
        width: 44px
        height: 44px
        margin-right: 16px
        background-color: #fff
        border-radius: 50%
        cursor: pointer
        transition: all 0.15s ease-in-out
        user-select: none
        &[data-state="on"]
          background-color: #3EB57C
          box-shadow: 0px 6px 20px #95D0A1
          color: #fff
        &[data-exist="false"]
          color: lighten($textcolor, 80%)
        &:not([data-exist="false"])
          &:hover, &:active, &:focus
            box-shadow: 0px 6px 20px #95D0A1
        &:last-child
          margin-right: 0
    .legend
      display: flex
      flex-wrap: wrap
      line-height: 1.4
      .title
        width: 100%
        margin-bottom: 8px
        font-size: 0.875em
      .item
        width: 50%
        span
          font-weight: bold
    .range
      margin-top: 24px
      .line
        margin-top: 6px
    .clear
      position: relative
      display: inline-flex
      margin: 19px 0 0 6px
      padding: 8px
      border: 1px solid transparent
      border-radius: 18px
      font-size: 0.875em
      cursor: pointer
      transition: all 0.15s ease-in-out
      user-select: none
      &:hover, &:focus
        border-color: #3EB57C
      &:active
        border-color: #3EB57C
        background-color: #3EB57C
      &::after
        position: relative
        display: block
        content: ''
        width: 8px
        height: 8px
        top: 7px
        margin-left: 7px
        background-image: url('../img/close.svg')
        background-size: cover

      &[data-show="off"]
        display: none
    .noUi-horizontal
      .noUi-handle
        width: 14px
        height: 14px
        right: -10px
        background-color: #3EB57C
        border: none
        border-radius: 50%
        box-shadow: none
        cursor: pointer
        &::before, &::after
          display: none
    .noUi-connects
      height: 3px
      border-radius: 1.5px

    .noUi-target
      height: 3px
      background: #cbdcd3
      border: none
      border-radius: 1.5px
@media (max-width: 1100.99px)
  .wrapper
    padding: 70px 45px
    .content
      width: 64.5%
      &__list
        &-elem
          .item.plan
            width: 12%
    .filter
      width: 32%
      padding: 25px 25px 35px
@media (max-width: 960.95px)
  .wrapper
    padding: 48px 54px
    .content
      flex: 1
      margin-right: 3%
      .h1
        margin-bottom: 24px
      &__list
        &-head
          .item
            border-bottom: none
            &.plan, &.name
              display: none
            &.square, &.floor
              width: 20%
        &-flat
          flex-wrap: wrap
          margin-bottom: 4px
          border: 1px solid rgba(0, 0, 0, 0.1)
          border-radius: 8px
          padding: 16px 24px
          .item
            font-size: 0.875em
            font-weight: 500
            &.name
              order: 1
              flex: auto
              width: 100%
              margin-bottom: 16px
              padding: 0 90px 0 0
            &.square
              width: 12%
              order: 2
            &.floor
              position: relative
              width: 30%
              display: inline-block
              order: 3
              span
                font-weight: 400
                opacity: 0.5
              &:after
                position: relative
                display: inline-block
                content: 'этаж'
                font-weight: 400
                margin-left: 3px
                opacity: 0.5
            &.price
              position: relative
              width: 30%
              display: inline-block
              order: 4
              &::after
                position: relative
                display: inline-block
                content: '₽'
                margin-left: 3px
            &.plan
              order: 5
              position: absolute
              right: 24px
              width: 70px
              top: calc(50% - 35px)
              img
                width: 70px
                height: 70px

  .filter
    width: 33%
    min-width: 300px
@media ( max-width: 767.95px )
  .wrapper
    flex-direction: column-reverse
    .content
      position: relative
      width: 100%
      z-index: 1
      .h1
        display: none
    .filter
      margin: 65px 0 40px
      &::before
        position: absolute
        display: block
        content: 'Квартиры'
        top: -90px
        left: 0
        font-size: 3.375em
        font-weight: bold
@media ( max-width: 576.95px )
  .wrapper
    padding: 48px 35px
    .filter
      margin-bottom: 30px

@media ( max-width: 390.95px )
  .wrapper
    padding: 35px 20px
    .content__list-elem .item.price
      width: 35%
